<!doctype html>
html(lang="en")
	head
		title My Curriculum Vitae
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", href="css/stylecv.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat:400,700")
		link(rel="shorcut icon", href="/favicon.ico")
		link(rel="alternate", title="My RSS", type="application/rss+xml" href="/fedd.rss")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css")
		link(rel="stylesheet", href='css/bootstrap.css')
		link(rel="stylesheet", href="css/maincv.css")
		script(type="text/javascript",src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js")			

	body
		header#start
			nav.fazul.navbar.navbar-default.navbar-fixed-top(role="navigation")
				.container
					.row.row-eq-height
						.col-xs-offset-1.col-xs-4.col-sm-offset-1.col-sm-4.col-md-offset-1.col-md-4
							h1.hide Jose Delgado
							h3.tceleste.text-center JOSE DELGADO
						.col-xs-offset-1.col-xs-5.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5
							ul.list-inline.voffset4
								li
									a.tblanco(href="#about") ABOUT ME
								li 
									a.tblanco(href="#experience",) PROFESIONAL EXPERIENCE
								li
									a.tblanco(href="#contact") CONTACT
		section#about
			.row.fceleste
				.col-xs-offset-1.col-xs-10.col-sm-offset-1.col-sm-10.col-md-offset-1.col-md-10
					article.tblanco
						a.tblanco(href="#")
							h2 +ABOUT
						p Hello, my name is Jose Delgado, I am a web developer and my goal is that I would like to create products that have a look, feel and work amazing.
					section
						.row
							.col-xs-12.col-sm-6.col-md-6
								img.voffset6.foto.img-circle.img-responsive(src="img/jose.png", alt="foto")
								.social
									a.icon-twitter(href="http://twitter.com/@j2Debu") 
									a.icon-github(href="http://github.com/j2DelgadoB") 
									a.icon-google-plus(href="http://gplus.to/j2sedelgado") 
							.col-xs-12.col-sm-5.col-md-5
								aside.tblanco
									h3.hide titulo de contenido de barra lateral
									dl.dl-horizontal.voffset5
										dt NAME
										dd JOSE DELGADO BUSTAMANTE
										hr.visible-phone
										dt BORN
										dd 22 SEPTEMBER 1991
										hr.visible-phone
										dt ADDRESS
										dd LOS ALISOS.LIMA.PERU
										hr.visible-phone
										dt EMAIL
										dd 
											strong.tnegro J2DELGADOB@GMAIL.COM
										hr.visible-phone
										dt WEBSITE
										dd 
											a.tblanco(href="#") WWW.JDEBU.GITHUB.IO
										hr.visible-phone
										dt PHONE
										dd +51 980 815 608
										hr.visible-phone

		section#experience
			.row.fplomo
				.col-xs-offset-1.col-xs-11.col-sm-offset-1.col-sm-10.col-md-offset-1.col-md-10
					article
						h2 +WORK EXPERIENCE
						p With more than 1 year experience working on projects for other companies, also as a Freelance and in own projects. I like all the time be informed of new technologies, programming often have had to review documentation or experienced with the code, passionate researcher who is also kept abreast of the work of other developers who share their knowledge.			
					section
						#expert.row
							.col-xs-12.col-sm-7.col-md-7
								h3 +EMPLOYMENT
								h4.tverde WEB DEVELOPER
								dl
									dt Peruserver
											span.pull-right.label.label-default 2013-2014
									dd Develop projects with Django, was a great experience where I found the ideal framework in which I want to program for web, with code very tidy and perfect syntax, making Django is one of the best options.
									dt Research and Developer
									dt Ofermedia-Pacis
										span.pull-right.label.label-default 2012-2013
									dd With just make a couple of simple odd jobs as a freelancer, in Pacis was my first job where I did research on multi-agent systems to be applied in the area of health. In Ofermedia I was in charge of maintaining an e -commerce and changes in the look and feel subject to the project chief. 	
								h3 +EDUCATION
								h4.tverde SYSTEMS ENGINEERING
								dl 
									dt National University of San Marcos
										span.pull-right.label.label-default University Lima
									dd  Studying the last year the career of Systems Engineering and Informatica.
								h4.tverde UX DESIGN, GRAPHIC DESIGN, WEB AND MOBILE DEVELOPER
								dl
									dt Autodidact
										span.pull-right.label.label-default web
									dd (Borrar)Yo defino características, los flujos de usuarios, contenido y condiciones de error. Siempre estoy en una lucha constante con las interfaces feas, aburridas y confusas.
							.clearfix				
							.col-xs-12.col-sm-5.col-md-5
								aside.voffset6
									h3.hide titulo de contenido de barra lateral
									h4 GRAPHIC SKILLS
									.row
										.col-xs-offset-1.col-xs-10.col-sm-offset-1.col-sm-10.col-md-offset-1.col-md-10
											.progress
												.progress-bar.fazul(role="progressbar", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100", style="width: 90%")
													span Photoshop
											.progress
												.progress-bar.fazul(role="progressbar", aria-valuenow="95", aria-valuemin="0", aria-valuemax="100", style="width: 95%")
													span Illustrator
											.progress
												.progress-bar.fazul(role="progressbar", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100", style="width: 90%")
													span Indesign
									h4 WEB DEVELOPMENT
									.row
										.col-xs-offset-1.col-xs-10.col-sm-offset-1.col-sm-10.col-md-offset-1.col-md-10
											.progress
												.progress-bar.fceleste(role="progressbar", aria-valuenow="85", aria-valuemin="0", aria-valuemax="100", style="width: 85%")
													span JQuery
											.progress
												.progress-bar.fceleste(role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", style="width: 80%")
													span PHP
											.progress
												.progress-bar.fceleste(role="progressbar", aria-valuenow="75", aria-valuemin="0", aria-valuemax="100", style="width: 75%")
													span Android									
									h4 SOCIAL MEDIA
									.row
										.col-xs-offset-1.col-xs-10.col-sm-offset-1.col-sm-10.col-md-offset-1.col-md-10
											.progress
												.progress-bar.fverde(role="progressbar", aria-valuenow="85", aria-valuemin="0", aria-valuemax="100", style="width: 85%")
													span Facebook
											.progress
												.progress-bar.fverde(role="progressbar", aria-valuenow="95", aria-valuemin="0", aria-valuemax="100", style="width: 95%")
													span Twitter
											.progress
												.progress-bar.fverde(role="progressbar", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100", style="width: 90%")
													span Youtube									
		section#contact
			.row.fverde
				.col-xs-offset-1.col-xs-11.col-sm-offset-1.col-sm-10.col-md-offset-1.col-md-10
					section.row-eq-height
						.col-xs-7.col-sm-7.col-md-7
							article.tblanco
								h2.visible-lg +CONTACT						
								h2.visible-md +CONTACT
								h3.visible-sm +CONTACT
								h4.visible-xs +CONTACT
								p Leave me a message using the contact form.
								form(action="", role="form")
									.form-group
										label(for="InputName") Nombre
										input(type="text", class="form-control", id="InputName",placeholder="")
									.form-group
										label(for="InputEmail") Email
										input(type="email", class="form-control", id="InputEmail",placeholder="") 
									.form-group
										label(for="InputMessage") Mensaje
										textarea(class="form-control", id="InputMessage", rows="3")
									button.btn.btn-primary(type="submit") Enviar
						.col-xs-5.col-sm-5.col-md-5
							article.tblanco
								h2.visible-lg +SOCIAL
								h2.visible-md +SOCIAL
								h3.visible-sm +SOCIAL
								h4.visible-xs +SOCIAL			
								p Or you can contact me at
								ul.list-inline
									li 
										a#facebook.icon-facebook2(href="http://facebook.com/fdfd.dffd.9", target="_blank") 
											
									li  
										a#twitter.icon-twitter(href="http://twitter.com/@j2Debu", target="_blank") 
											
									li
										a#google.icon-google-plus(href="http://gplus.to/j2sedelgado", target="_blank") 


		footer
			.row.fazul.row
				.col-xs-offset-1.col-xs-10.col-sm-offset-1.col-sm-10.col-md-offset-1.col-md-10
					.row.row-eq-height
						.col-xs-8.col-sm-8.col-md-8
							p.tblanco Copyright 2014
						.col-xs-2.col-sm-2.col-md-2
							a.tblanco(href="#start") back to top
								span.glyphicon.glyphicon-arrow-up  
								
		script(type="text/javascript",src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js")			
		script(type="text/javascript",src="js/bootstrap.js")
		script function mediaqueryresponse(mql){ if (mql.matches){ /*if media query matches*/console.log("The condition " + mql.media + " has been met");$("#expert").addClass("row-eq-height");}else{$("#expert").removeClass("row-eq-height");/*document.getElementById("expert").addClass("row-eq-height");*/console.log("Condition not met yet");}}var mql = window.matchMedia("only screen and (min-width : 992px)");mediaqueryresponse(mql); /*call listener function explicitly at run time*/mql.addListener(mediaqueryresponse);/*attach listener function to listen in on state changes*/

