<!DOCTYPE html>	
html(lang="en")
	head
		meta(charset="utf-8")
		title Curriculum Vitae
		meta(name="viewport", content="width=device-width, initial-scale=1")	
		meta(name="author", content="")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css")
		link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel="stylesheet", href="http://librosweb.es/ejemplos/bootstrap_3/css/main.css")
		style(type='text/css')
			body {}
		link(rel="stylesheet", href="")
	body
		.row.show-grid
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
		.footer
			p hola	
		script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
