<!DOCTYPE html>	
html(lang="en")
	head
		meta(charset="utf-8")
		title Curriculum Vitae
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="author", content="")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css")
		link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel="stylesheet", href="http://librosweb.es/ejemplos/bootstrap_3/css/main.css")
		style(type='text/css')
			body {}
		link(rel="stylesheet", href="")
	body
		<!--xs (phones), sm (tablets), md (desktops), and lg (larger desktops).-->
		.row.show-grid
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
			.col-md-1 col-md-1
		.row.show-grid
			.col-xs-6.col-md-4 .col-md-4
			.col-xs-6.col-md-4 .col-md-4
			.col-xs-6.col-md-4 .col-md-4
		.row.show-grid
			.col-xs-12.col-sm-6.col-md-8 .col-xs-12.col-sm-6.col-md-8
			.col-xs-6.col-sm-6.col-md-2 .col-xs-6.col-sm-6.col-md-2
		.row.show-grid
			.col-xs-6.col-sm-4 .col-xs-6.col-sm-4
			.col-xs-6.col-sm-4 .col-xs-6.col-sm-4

			<!-- Código opcional para limpiar las columnas XS en caso de que el contenido de todas las columnas no coincida en altura -->
			.clearfix.visible-xs
			.col-xs-6.col-sm-4 .col-xs-6.col-sm-4
		.row.show-grid
			.col-xs-6.col-sm-3 .col-xs-6.col-sm-3
			.col-xs-6.col-sm-3 .col-xs-6.col-sm-3

			<!-- La clase 'clearfix' sólo se aplica cuando el dispositivo sea muy pequeño, tal y como indica la clase 'visible-xs' -->
			.clearfix.visible-xs
			.col-xs-6.col-sm-3 .col-xs-6.col-sm-3
			.col-xs-6.col-sm-3 .col-xs-6.col-sm-3
		.row.show-grid
			.col-sm-5.col-md-5 .col-sm-5.col-md-5
			.col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-2 .col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-2
			
			<!-- desplazamiento en dispositivos grandes a partir de tablets no celulares-->
		.row.show-grid
			.col-md-9 Level 1: .col-md-9
				.row.show-grid
					.col-md-6 Level 2: .col-md-6
					.col-md-6 Level 2: .col-md-6
		ul.list-inline
			li Lorem
			li Lorem
			li Lorem
		dl
			dt Description lists
			dd A description
			dt REFds
			dd Vestfd dffd dfddfk dfklk fdklkdfl dfkl
		dl.dl-horizontal
			dt Description lists
			dd A description
			dt REFds
			dd Vestfd dffd dfddfk dfklk fdklkdfl dfkl			
		
		p El elemento
				code &lt;code&gt; 
				span es uno de los nuevos elementos de HTML5  
		

		script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
